-var path = '../';
-var head_url = 'https://sochi.mycapitalland.ru/webinar/';
-var head_title = '«Ивестиции в недвижимость Сочи»';
-var head_description = 'Онлайн-встреча с Юрием Медушенко';
-var styles = path+'css/styles.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var fav_ap = path+'favicon.svg';
-var scripts = path+'js/scripts.js';
//- -var noref = true
-var action = 'https://mycapital.autoweboffice.ru/?r=personal/newsletter/sub/add&id=28323&lg=ru&Contact[id_newsletter]=';
-var group = '38';
-var formId = '28';
-var formVc = '1738425480';
//-var headerLight = true;
//-var href = '#Modal';
-var form_target = '_blank';
-var politics = 'politics.pdf';
-var fbTag = true;
-var index1 = true;

mixin gt(cl,h3)
	h3.general-title(class=cl)
		span=h3
mixin b(cl,clb,href='#Modal',p,target,id)
	.button-wrapper(class=cl)
		a.button(class=clb href=href target=target id=id)=p
mixin imgs(cl, src, alt)
	img(class=cl src=path+src alt=alt)

<?php require_once('../date/date.php');?>
|
|
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/autoweb/1-main
			include pug/autoweb/2-form
			include pug/main/3-why
			include pug/main/4-plan
			include pug/main/5-author
			include pug/autoweb/6-form-2
			include pug/main/8-last
		include pug/autoweb/9-modal
		include pug/base/3-scripts
		include pug/scripts/body_bottom_scripts